*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout{
  height: 400px;
  width: 700px;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(4,minmax(60px,200px));
  grid-template-rows: repeat(4,minmax(50px,150px));
}

.grids{
  height: 100px;
  width: 100%;
  font-size: 2rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.grids:nth-of-type(6){
  height: 100%;
  grid-column: 2/4;
  grid-row: 2/4;
  
  font-size: 5rem;
}
